<!DOCTYPE html>
<html ng-app="Napstr">
<head>
  <meta charset="UTF-8">
  <title>napstr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <script src = "/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/main.js"></script>
</head>
<body>

  <div id="nav-bar">
    <ul>
      <li> <a href="/"> napstr </a> </li>
      <li> | </li>
      <li> <a href="/about"> About </a> </li>
      <li> | </li>
      <% if (!username) { %>
        <li> <a href="/"> Login </a> </li>
        <li> | </li>
        <li> <a href="/"> Sign Up</a> </li>
      <% } else { %>
        <li> <a href="/search"> Search </a> </li>
        <li> | </li>
        <li> <a href="/logout"> Logout </a> </li>
      <% } %>
    </ul>
    </div> <!-- nav bar -->

  <h2> Welcome to Napstr!</h2>

  <p> Napstr is a geosocial neworking site allowing users to find and meet napping partners. Its not creepy! Its Napstr! </p>


</body>
</html>