<!DOCTYPE html>
<html ng-app="Napstr">
<head>
  <meta charset="UTF-8">
  <title>napstr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <script src = "/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/users_controller.js"></script>
</head>
<body>

  <div id="nav-bar">
    <ul>
      <li> <a href="/"> napstr </a> </li>
      <li> | </li>
      <li> <a href="/about"> About </a> </li>
      <li> | </li>
      <% if (!username) { %>
        <li> <a href="/"> Login </a> </li>
        <li> | </li>
        <li> <a href="/"> Sign Up</a> </li>
      <% } else { %>
        <li> <a href="/search"> Search </a> </li>
        <li> | </li>
        <li> <a href="/logout"> Logout </a> </li>
      <% } %>
    </ul>
    </div> <!-- nav bar -->

  <h1>Napstr</h1>
  <h3>It's only creepy if you think about it.</h3>

  <% if (!username) { %>
    <h3> Login </h3>
    <form action="/login" method="post">
      <label for="username"> Username: </label>
      <input type="text" name="username">
      <br>
      <label for="password"> Password: </label>
      <input type="password" name="password">
      <br>
      <input type="submit" value="Log in!">
    </form>

    <h3> Or Sign Up for a nap stat! </h3>
    <form action="/user" method="post">
      <label for="name"> Name: </label>
      <input type="text" name="name">
      <br>
      <label for="username"> Username: </label> 
      <input type="text" name="username">
      <br>
      <label for="email"> Email: </label>
      <input type="text" name="email">
      <br>
      <label for="password"> Password: </label>
      <input type="password" name="password">
      <br>
      <label for="password_confirm"> Confirm Password: </label>
      <input type="password" name="password_confirm">
      <br>
      <input type="submit" value="Sign up!">
    </form> 
  <% } else { %>
    <a href="/logout"> Log Out </a>
  <% } %>

</body>
</html>