<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Napstr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <script src = "/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/users_controller.js"></script></head>
<body>

  <div id="nav-bar">
    <ul>
      <li> <a href="/"> Napstr </a> </li>
      <li> <a href="/about"> About </a> </li>
      <li> <a href="/search"> Search </a> </li>
      <li> <a href="/"> Login | SignUp </a> </li>
    </ul>
  <div> <!-- nav bar -->







</body>
</html>