<!DOCTYPE html>
<html ng-app="Napstr">
<head>
  <meta charset="UTF-8">
  <title>napstr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <script src = "/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/users_controller.js"></script>
</head>
<body>

  <div id="nav-bar">
    <ul>
      <li> <a href="/"> napstr </a> </li>
      <li> | </li>
      <li> <a href="/about"> About </a> </li>
      <li> | </li>
      <li> <a href="/search"> Search </a> </li>
      <li> | </li>
      <li> <a href="/"> Login </a> </li>
      <li> | </li>
      <li> <a href="/"> Sign Up</a> </li>
    </ul>
  </div> <!-- nav bar -->

  <div id="map"> </div>

  <script async defer src='https://maps.googleapis.com/maps/api/js?key=<%= napstrKey %>&callback=initMap'></script>

  
  <div ng-controller="UsersController as napstrs">
    
    <h2> napstrs near you:</h2>
    <select name="filter" ng-model="napstrs.filter">
      <option value="">
    </select>
    <br>
    
    <div ng-repeat="napstr in napstrs.all">
      <p> <strong> {{napstr.username}} </strong>
        <br> <em>{{napstr.aboutMe}}</em>
        <br> Rating: {{napstr.rating}}
        <br> Preferences {{napstr.napPreferences}}
      </p>
    </div> <!--repeat -->
  
  </div> <!--controller -->


</body>
</html>