html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 60%;
  float: left;
  border: 1px solid lightgrey;
}

#signup-modal-container,
#edit-modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5) ;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#signup-modal,
#edit-modal {
  position: relative;
  background-position: center;
  background: white;
  width: 65%;
  margin: 1em auto;
  padding: 3%;
  border: 1px solid black;
}

#signup-header,
#welcome {
  text-align: center;
}

#profile-container {
  /*background-color: #fffbf0;*/
  background-color: #EEEEEE;
  border: 1px solid lightgrey;
  padding: 2%;
}

.reviews-container {
  background: azure;
  border: 1px solid lightgrey;
  margin-top: 1em;
  padding: 1%;
}

.requests-container {
  background: WhiteSmoke;
  border: 1px solid lightgrey;
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 1%;
}

.pending-requests {
  background: #fffbf0;
}

.confirmed-requests {
  background: honeydew;
}

.delete-btns {
  float: right;
}

.img-profile-thumb {
  max-width: 450px;
  max-height: 500px;
  border: 1px solid lightgrey;
  /*background: #52BCDC;*/
}

.panel, #right-of-map {
  margin-left: 61%;
  margin-right: 5%;
}

.jumbotron,
.panel p {
  padding-left: 2%;
  margin-top: 0;
}

.map-thumbnail {
  max-width: 300px;
  max-height: 300px;
}

.fine-print {
  color: grey;
}
